<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-student-heading">Create or edit a Student</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!student.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="student.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_matrikelnummer">Matrikelnummer</label>
                    <input type="number" class="form-control" name="matrikelnummer" id="field_matrikelnummer"
                        [(ngModel)]="student.matrikelnummer" required/>
                    <div [hidden]="!(editForm.controls.matrikelnummer?.dirty && editForm.controls.matrikelnummer?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.matrikelnummer?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.matrikelnummer?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nachnahme">Nachnahme</label>
                    <input type="text" class="form-control" name="nachnahme" id="field_nachnahme"
                        [(ngModel)]="student.nachnahme" required/>
                    <div [hidden]="!(editForm.controls.nachnahme?.dirty && editForm.controls.nachnahme?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nachnahme?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_vorname">Vorname</label>
                    <input type="text" class="form-control" name="vorname" id="field_vorname"
                        [(ngModel)]="student.vorname" required/>
                    <div [hidden]="!(editForm.controls.vorname?.dirty && editForm.controls.vorname?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.vorname?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_strasse">Strasse</label>
                    <input type="text" class="form-control" name="strasse" id="field_strasse"
                        [(ngModel)]="student.strasse" required/>
                    <div [hidden]="!(editForm.controls.strasse?.dirty && editForm.controls.strasse?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.strasse?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_plz">Plz</label>
                    <input type="number" class="form-control" name="plz" id="field_plz"
                        [(ngModel)]="student.plz" required/>
                    <div [hidden]="!(editForm.controls.plz?.dirty && editForm.controls.plz?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.plz?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.plz?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_ort">Ort</label>
                    <input type="text" class="form-control" name="ort" id="field_ort"
                        [(ngModel)]="student.ort" required/>
                    <div [hidden]="!(editForm.controls.ort?.dirty && editForm.controls.ort?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.ort?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
